.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 414px;
    height: 512px;
    background-image: url('./img/fundo.jpeg');
    background-repeat: no-repeat;
    color: #F3F3F3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.botao {
    display: flex;
    justify-content: center;
    width: 220px;
    height: 61px;
    left: 97px;
    top: 407px;
    align-items: center;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    background: #D01418;
    color: #F3F3F3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
